.title{
/*  border: 3px solid black;*/
  margin: 24px 0;
}
img.icon{
  width: 18px;
  height: 18px;
}
div.title{
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  display:flex;
    flex-flow: column nowrap;
    align-items: center;
}
h1.title{
  font-weight: 700;
  font-size: 90px;
}
p.title{
  font-weight:200;
  font-size: 48px;
}
button.title{
  transition: ease-in-out 150ms;
  font-size: 48px;
  font-family: inherit;
  margin: 24px;
  border: solid 2px black;
  border-radius: 7px;
  background-color: rgba(110, 109, 138, 0.45);
}
button.title:hover{
  background-color: rgba(110,109,138,0.85);
  box-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.8);
}

div#mhBtns{
  height: max-content;
  display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
div#modeHTML button{
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-size: 48px;
  border: solid 2px black;
  border-radius: 7px;
  background-color: rgba(110, 109, 138, 0.45);
  margin: 36px;
  transition: ease-in-out 150ms;
}
div#modeHTML button:hover{
  background-color: rgba(110,109,138,0.85);
  box-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.8);
}
#modeHTML h3{
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-size: 64px;
  justify-content: center;
  display: flex;
}

#settingsHTML h3{
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-size: 64px;
  justify-content: center;
  display: flex;
  margin: 12px auto 40px auto;
}
div#shInputs{
  display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
div.rulesets{
  margin: 0 16px;
  text-align: center;
}
#sMoDay{
  text-align: justify;
  display: block;
  width: 288px;
}
#sTime{
  display: block;
  width: 328px;
}
#shInputs h5{
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-size: 32px;
  margin: 0 0;
  text-align: center;
}
label.radio, label.range{
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 1px;
}

#sPlayers{
  display: block;
  text-align: justify;
  width: 288px;
}
/*PRIORITY #1: FIX BUTTON ALIGNMENT!!!!!*/
button.pName, .nameList button{
  background: rgba(0,0,0,0);
  border-radius: 100%;
  border: none;
  transition: 150ms;
  height: 18px;
  width: 18px;
  font-family: navigo,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  padding: 0;
}
button.pName:hover{
  background-color: rgba(110,109,138,0.85);
}
.nameList button:hover{
  background-color: rgba(110,109,138,1);
}
span.player{
  background-color: rgba(110,109,138,0.85);
}
div#nameBox{
  text-align: unset;
  font-family: futura-pt-condensed,sans-serif;
  font-weight: 600;
  font-style: normal;
}
span.nameList{
  background-color: rgba(110,109,138,0.25);
  box-shadow: 0.5px 0.75px 2px rgba(48, 73, 73, 1);
  border-radius: 10px;
  padding: 1.5px;
  margin: 2px 1px;
  text-align: unset;
}